body {
	margin: 0;
	background-color: #010101;
	color: #fff;
	font-family: sans-serif;
}
.floating-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 3;
}
.floating-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
.floating-images img:nth-child(1) {
	top: 15%;
	left: 5%;
}
.floating-images img:nth-child(2) {
	top: 75%;
	left: 1%;
	width: 200px;
	height: 200px;
}
.floating-images img:nth-child(3) {
	top: 28%;
	left: 80%;
	width: 80px;
	height: 80px;
}
.floating-images img:nth-child(4) {
	top: 73%;
	left: 90%;
	width: 150px;
	height: 150px;
}
.floating-images img:nth-child(5) {
	top: 5%;
	left: 60%;
}

#hero {
	background-size: 40px 40px;
	background-image:
		linear-gradient(to right, #050505 1px, transparent 1px),
		linear-gradient(to bottom, #050505 1px, transparent 1px);
}
#hero-gradient {
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle 1400px at bottom, #153f99, #153f99,#01010100 60%);
}
#hero-content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#hero-title {
	text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	text-transform: uppercase;
	font-family: 'Courier New', monospace;
	letter-spacing: 0.1em;
	font-size: 5em;
	background: linear-gradient(172deg, #fff, #2369ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: glowing-title 5s ease-in-out infinite;
}

#hero-subtitle {
	font-family: 'Courier New', monospace;
	letter-spacing: 0.1em;
	color: #fffa;
	text-shadow: 0 0 10px #fff;
}

@keyframes glowing-title {
	0% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	}
	50% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, 0 0 10px #2369ff;
	}
	100% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	}
}

p {
	text-align: center;
}
a {
	color: #588dff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0 10px #2369ff;
}
a:hover {
	text-decoration: underline;
}
#what {
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle 1400px at top, #153f99, #153f99,#01010100 60%);
}
#what-content {
	padding: 5px;
	margin: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#what img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
#what-screenshot {
	width: 70%;
	background-color: #151515;
	padding: 5px;
	margin: 0px;
	border-radius: 15px;
}
#what-screenshot p {
	padding: 0;
	margin: 0;
}
#what h2 {
	text-align: center;
	width: 100%;
}
.screenshot-wrapper {
	gap: 20px;
	padding: 20px;
	margin: 50px;
	border-radius: 10px;
}
.screenshot-container {
	width: calc(100% - 400px);
	margin: 0 200px;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.screenshot-container-image {
	background-color: #151515;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-bottom: 5px;
}
.screenshot-container img {
	width: 100%;
}

h1 {
	text-align: center;
	text-shadow: 0 0 10px #fff;
}
h2 {
	text-align: center;
}
img {
	width: 100%;
	height: auto;
}
.screenshot {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.feature-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 400px);
	margin: 0 200px;
}
.feature {
	padding: 20px;
	margin: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.feature {
		flex-direction: column !important;
	}
	.feature-container {
		width: 100% !important;
		margin: 0 !important;
	}
	.screenshot-container {
		width: 100% !important;
		margin: 0 !important;
		display: flex !important;
		flex-direction: column !important;
	}
	.feature-description {
		width: 100% !important;
	}
	.feature-title {
		width: 100% !important;
	}
	#what-content {
		flex-direction: column !important;
	}
	#what-screenshot {
		width: 100% !important;
	}
}

.top-feature {
	flex-direction: column;
}
.feature-title {
	width: 40%;
	padding: 20px;
	text-align: center;
}
.feature-description {
	width: 40%;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature-description.big {
	width: 75%;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature-description.big :nth-child(2) {
	transform: translate(50px, calc(-100% + 25px));
	box-shadow: 0 0 20px #000;
	height: min-content;
}

.row {
	display: flex;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}

::selection {
	background-color: #2369ff55;
	color: #fffa;
	text-shadow: none;
}

.tag {
	text-align: center;
	background-color: #2369ff44;
	color: #2369ff;
	width: max-content;
	font-weight: normal;
	text-shadow: none;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	transition: all 70ms ease-in-out;
}

.tag:hover {
	background-color: #2369ff;
	color: #fff;
	cursor: default;
}

.tag.success {
	background-color: #44ff4444;
	color: #44ff44;
}

.tag.success:hover {
	background-color: #44ff44;
	color: #fff;
	cursor: default;
}

.tag.info {
	background-color: #4444ff44;
	color: #4444ff;
}

.tag.info:hover {
	background-color: #4444ff;
	color: #fff;
	cursor: default;
}

.tag.warning {
	background-color: #ff923244;
	color: #ff9232;
}

.tag.warning:hover {
	background-color: #ff9232;
	color: #fff;
	cursor: default;
}

.tag.danger {
	background-color: #ff444444;
	color: #ff4444;
}

.tag.danger:hover {
	background-color: #ff4444;
	color: #fff;
	cursor: default;
}

footer {
	border-top: 1px solid #fff1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 400px);
	margin: 0 200px;
}

.footer-left {
	width: 40%;
}
.footer-right {
	width: 40%;
}
