.envshell-floating-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 3;
}
.envshell-floating-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
.envshell-floating-images img:nth-child(1) {
	top: 15%;
	left: 5%;
}
.envshell-floating-images img:nth-child(2) {
	top: 75%;
	left: 1%;
	width: 200px;
	height: 200px;
}
.envshell-floating-images img:nth-child(3) {
	top: 28%;
	left: 80%;
	width: 80px;
	height: 80px;
}
.envshell-floating-images img:nth-child(4) {
	top: 73%;
	left: 90%;
	width: 150px;
	height: 150px;
}
.envshell-floating-images img:nth-child(5) {
	top: 10%;
	left: 60%;
}

#envshell-hero {
	background-size: 40px 40px;
	background-image:
		linear-gradient(to right, #050505 1px, transparent 1px),
		linear-gradient(to bottom, #050505 1px, transparent 1px);
}
#envshell-hero-gradient {
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle 1400px at bottom, #153f99, #153f99,#01010100 60%);
}
#envshell-hero-content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#envshell-hero-title {
	text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	text-transform: uppercase;
	font-family: 'Courier New', monospace;
	letter-spacing: 0.1em;
	font-size: 5em;
	background: linear-gradient(172deg, #fff, #2369ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: glowing-title 5s ease-in-out infinite;
}

#envshell-hero-subtitle {
	font-family: 'Courier New', monospace;
	letter-spacing: 0.1em;
	color: #fffa;
	text-shadow: 0 0 10px #fff;
}

@keyframes glowing-title {
	0% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	}
	50% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px, 0 0 10px #2369ff;
	}
	100% {
		text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
	}
}

#envshell-envshell p {
	text-align: center;
}
#envshell-envshell a {
	color: #588dff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0 10px #2369ff;
}
#envshell-envshell a:hover {
	text-decoration: underline;
}
#envshell-what {
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle 1400px at top, #153f99, #153f99,#01010100 60%);
}
#envshell-what-content {
	padding: 5px;
	margin: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#envshell-what img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
#envshell-what-screenshot {
	width: 70%;
	background-color: #151515;
	padding: 5px;
	margin: 0px;
	border-radius: 15px;
}
#envshell-what-screenshot p {
	padding: 0;
	margin: 0;
}
#envshell-what h2 {
	text-align: center;
	width: 100%;
}
.envshell-screenshot-wrapper {
	gap: 20px;
	padding: 20px;
	margin: 50px;
	border-radius: 10px;
}
.envshell-screenshot-container {
	width: calc(100% - 400px);
	margin: 0 200px;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.envshell-screenshot-container-image {
	background-color: #151515;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-bottom: 5px;
}
.envshell-screenshot-container img {
	width: 100%;
}

#envshell-envshell h1 {
	text-align: center;
	text-shadow: 0 0 10px #fff;
}
#envshell-envshell h2 {
	text-align: center;
}
#envshell-envshell img {
	width: 100%;
	height: auto;
}
.envshell-screenshot {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.envshell-feature-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 400px);
	margin: 0 200px;
}
.envshell-feature {
	padding: 20px;
	margin: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.envshell-feature {
		flex-direction: column !important;
	}
	.envshell-feature-container {
		width: 100% !important;
		margin: 0 !important;
	}
	.envshell-screenshot-container {
		width: 100% !important;
		margin: 0 !important;
		display: flex !important;
		flex-direction: column !important;
	}
	.envshell-feature-description {
		width: 100% !important;
	}
	.envshell-feature-title {
		width: 100% !important;
	}
	#envshell-what-content {
		flex-direction: column !important;
	}
	#envshell-what-screenshot {
		width: 100% !important;
	}
}

.envshell-top-feature {
	flex-direction: column;
}
.envshell-feature-title {
	width: 40%;
	padding: 20px;
	text-align: center;
}
.envshell-feature-description {
	width: 40%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.envshell-feature-description.big {
	width: 75%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.envshell-feature-description.big :nth-child(2) {
	transform: translate(50px, calc(-100% + 25px));
	box-shadow: 0 0 20px #000;
	height: min-content;
}

.envshell-feature-description.big :nth-child(3) {
	transform: translate(100px, calc(-200% + 50px));
	height: min-content;
}

.envshell-row {
	display: flex;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}

#envshell-envshell ::selection {
	background-color: #2369ff55;
	color: #fffa;
	text-shadow: none;
}

.envshell-tag {
	text-align: center;
	background-color: #2369ff44;
	color: #2369ff;
	width: max-content;
	font-weight: normal;
	text-shadow: none;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	transition: all 70ms ease-in-out;
}

.envshell-tag:hover {
	background-color: #2369ff;
	color: #fff;
	cursor: default;
}

.envshell-tag.success {
	background-color: #44ff4444;
	color: #44ff44;
}

.envshell-tag.success:hover {
	background-color: #44ff44;
	color: #fff;
	cursor: default;
}

.envshell-tag.info {
	background-color: #4444ff44;
	color: #4444ff;
}

.envshell-tag.info:hover {
	background-color: #4444ff;
	color: #fff;
	cursor: default;
}

.envshell-tag.warning {
	background-color: #ff923244;
	color: #ff9232;
}

.envshell-tag.warning:hover {
	background-color: #ff9232;
	color: #fff;
	cursor: default;
}

.envshell-tag.danger {
	background-color: #ff444444;
	color: #ff4444;
}

.envshell-tag.danger:hover {
	background-color: #ff4444;
	color: #fff;
	cursor: default;
}